.brands{
    &__block{
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        &--each{
           
            display: block;
            margin-bottom: 30px;
            margin-right: 15px;
            text-align: center;
            @include respond-1000{
                flex:  0 0 50%;
            }
            @include respond-1000{
                flex:  0 0 100%;
               
            }
            img{
                width: 100px;
                height: auto;
                
            }
            p{
                font-weight: 500;
                font-size: 17px;
               span{
                display: block;
               }
            }
        }    
    }
    
}