.contacts{
    &__map{
        padding-bottom: 80px;
    }
    &__form{
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
        padding: 60px 0;
        @include respond-tab{
            flex-wrap: wrap;
            justify-content: center;
            max-width: 95%;
            padding: 30px 0;
        }
        .list{
            a{
                display: flex;
                align-items: center;
                padding-bottom: 40px;
                font-weight: 500;
                font-size: 24px;
                span{
                    padding-left: 30px;
                    @include respond-phone{
                        font-size: 16px;
                    }
                }
            }
            @include respond-tab{
                img{
                    height: 70px;
                }
            }
            @include respond-phone{
                img{
                    height: 50px;
                }
            }
        }
    }
}