.header{
    border-bottom: 1px solid #C1C1C1B2;
    &__logo{
        a{
            display: block;
            padding: 23px 0;
        }
        svg{
            height: 50px;
            width: 250px;
            @include respond-tab{
                width: 220px;
                height: auto;
            }
            @include respond-phone{
                width: 210px;
            }
        }
    }
    &__phone{
        @include respond-1100{
            margin: 0 30px;
        }
        @include respond-phone{
            display: none;
        }
        a{
            font-weight: 500;
            font-size: 18px;
            &:hover{
                color: $red;
            }
        }
    }
    &__location{
        margin: 0 60px;
        svg{
            width: 25px;
            height: 25px;
        }
        p{
            font-weight: 500;
            color: #676767;
        }
        @include respond-1100{
            display: none;
        }
    }
    &__auth{
        justify-content: flex-end;
        .btn:first-child{
            margin-right: 15px;
        }
        @include respond-tab{
            display: none;
        }
    }
}
.headerMenu{
    ul li a{
        display: block;
        margin-right: 35px;
        padding: 23px 0;
        &:hover{
            color: $red;
            svg path{
                fill: $red;
            }
        }
    }
    @include respond-tab{
        display: none;
    }
}
.burger{
    display: none;
    @include respond-tab{
        display: block;
    }
}