.header{
    border-bottom: 1px solid #C1C1C1B2;
    position: relative;
    z-index: 2;
    &__logo{
        a{
            display: block;
            padding: 23px 0;
        }
        svg{
            height: 50px;
            width: 250px;
            @include respond-tab{
                width: 220px;
                height: auto;
            }
            @include respond-phone{
                width: 210px;
            }
        }
    }
    &__phone{
        @include respond-1100{
            margin: 0 30px;
        }
        @include respond-phone{
            display: none;
        }
        a{
            font-weight: 500;
            font-size: 18px;
            &:hover{
                color: $red;
            }
        }
    }
    &__location{
        margin: 0 60px;
        svg{
            width: 25px;
            height: 25px;
        }
        p{
            font-weight: 500;
            color: #676767;
        }
        @include respond-1100{
            display: none;
        }
    }
    &__auth{
        justify-content: flex-end;
        .btn:first-child{
            margin-right: 15px;
        }
        @include respond-tab{
            display: none;
        }
        .userInfo{
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;
            z-index: 2;
            .avatar{
                display: block;
                width: 50px;
                height: 50px;
                margin-right: 20px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .name{
                font-weight: 500;
                font-size: 16px;
            }
            svg{
                margin-left: 10px;
                transition: all 0.3s ease;
            }
            .dropdown{
                display: none;
                position: absolute;
                top: 50px;
                background-color: white;
                width: 100%;
                left: 0;
                z-index: 1;
                &__items{
                    font-weight: 500;
                    font-size: 13px;
                    padding: 15px;
                    display: block;
                    &:hover{
                        background-color: #cb00001c;
                    }
                }
            }
            &:hover{
                .dropdown{
                    display: block;
                }
                svg{
                    transform: rotate(180deg);
                }
            }
        }
    }
}
.headerMenu{
    position: relative;
    z-index: 1;
    ul li{
        position: relative;
        .inside{
            display: none;
            position: absolute;
            top: 45px;
            background-color: white;
            left: 0;
            width: 100%;
            padding: 9px 11px;
            z-index: 2;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            a{
                margin-right: 0;
                font-size: 14px;
                padding: 5px;
            }
        }
        &.hover{
            display: flex;
            align-items: center;
            margin-right: 35px;
            svg{
                margin-left: 5px;
            }
            &:hover{
                .inside{
                    display: block;
                }
            }
        }
        a{
            display: block;
            margin-right: 35px;
            padding: 23px 0;
            
            &:hover, &.router-link-active{
                color: $red;
                svg path{
                    fill: $red;
                }
            }
        }
    }
    @include respond-tab{
        display: none;
    }
    &.active{
        display: block;
        position: absolute;
        z-index: 2;
        top: 90px;
        background: white;
        left: 0;
        width: 100%;
        max-width: 100%;
        padding-left: 30px;
        ul{
            display: block;
        }
    }
}
.burger{
    display: none;
    @include respond-tab{
        display: block;
    }
}
