.reviews{
    &__each{
        display: flex;
        margin-bottom: 60px;
        @include respond-phone{
            display: block;
            
        }
        .author{
            margin-right: 60px;
            .avatar{
                margin-right: 25px;
                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                }
            }
            
        }
        .body{
            p{
                font-weight: 500;
                font-size: 17px;
                @include respond-phone{
                    margin-top: 30px;
                }
            }
        }
        .info{
            
            .name{
                font-weight: 500;
                font-size: 16px;
                color: $red;
                
            }
            .date{
                font-weight: 500;
                font-size: 12px;
                margin-top: 5;
            }
            .stars{
                margin-top: 16px;
                white-space: nowrap;
            }
        }
    }
    &__form{
        form{
            max-width: 800px;
            margin: 0 auto;
            border: none;
            box-shadow: none;
            padding: 0;
            .row{
                justify-content: space-between;
                input{
                    flex: 0 0 48%;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 15px 30px;
                    
                    &:focus{
                        border: 1px solid $red;
                    }
                    &:first-child{
                        margin-right: 2%;
                    }
                    @include respond-phone{
                        flex:  0 0 100%;
                        margin: 0;
                        margin-bottom: 20px;
                        &:first-child{
                            margin-right: 0;
                        }
                    }
                }
            }
            
            textarea{
                height: auto;
                margin-bottom: 30px;
                font-size: 18px;
                font-weight: 500;
                padding: 15px 30px;
            }
            .btn{
                width: 100%;
            }
        }
    }
}